:root {
  --app-background-color: #AAA;
  --btn-default-color: #789AC7;
  --btn-selected-color: darkBlue;
  --msg-arriving-color: #0F0;
  --msg-departing-color: #FF0;
  --msg-departed-color: #0AF;
  --msg-selected-color: #666;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--app-background-color);
  color: white;
  margin: 0px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15pt;
}

div:hover { cursor: default; }

#hero-screen {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#hero-filler {
  display: flex;
}

.hour-filler {
  color: black;
}

#menu-screen {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #EEE;
  overflow: hidden;
  width: 240px;
}

#menu-content > h2 {
  color: #333;
  background-color: #CCC;
  font-size: 12pt;
  font-weight: lighter;
  line-height: 33px;
  overflow: hidden;
  margin: 0;
}

#menu-screen > .fillbar {
  flex: 1;
}

#menu-list {
  text-align: left;
  font-size: 12pt;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu-list > li {
  color: #333;
  background-color: white;
  line-height: 48px;
  padding-left: 10px;
}

#menu-list > li.selected {
  color: white;
  background-color: #8840FF;
}

#trip-filler {
  display: flex;
  justify-content: center;
  height: 35px;
  background-color: black;
  color: white;
  display: flex;
  line-height: 33px;
  white-space: nowrap;
  overflow: hidden;
  width: 240px;
}


.fake-titlebar {
  color: black;
  background-color: #CCC;
  height: 35px;
  font-size: 13pt;
  font-weight: lighter;
  justify-content: space-around;
  font-family: 'Noto Sans', sans-serif;
  line-height: 33px;
  white-space: nowrap;
  overflow: hidden;
}

#hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-color: black;
  width: 240px;
  height: 228px;
}

#splash-screen {
  position:relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: black;
  background-color: #CCC;
  width: 240px;
  height: 228px;
  overflow: hidden;
}

#splash-content > div { padding-bottom: 40px; }
.splash-note { font-size: 12pt; }

#wave {
  animation: wave 1.5s linear infinite;
  opacity: 0.2;
  border-style: solid;
  border-color: gray;
  position: absolute;
}
@keyframes wave {
  0% {
    opacity: 0;
    top: -191px;
    left: -40px;
    border-width: 80px;
    border-radius: 600px;
    width: 600px;
    height: 600px;
  }
  100% {
    opacity: 0.5;
    top: 108px;
    left: 228px;
    border-width: 4px;
    border-radius: 2px;
    width: 2px;
    height: 2px;
  }
}

#about-screen {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#about-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-width: 240px;
  font-size: 16px;
  background-color: white;
  color: black;
  height: 228px;
}

#about-image {
  width: 64px;
  height: 64px;
}

#app-name {
  font-size: 24px;
}

#commands-screen {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#commands-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 240px;
  font-size: 16px;
  background-color: white;
  color: black;
  height: 228px;
}

#hint-above {
  font-weight: bold;
  font-size: 24px;
}

#hint-center {
  padding: 5px;
}

#circle {
  border-width: 5px;
  border-style: solid;
  top: 8px;
  background-color: black;
  border-radius: 190px;
  margin: 0 15px;
  position: absolute;
  width: 200px;
  height: 200px;
}

#overview {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  width: 240px;
  height: 208px;
  padding-top: 20px;
}

#fade {
  text-align: left;
  background-image: linear-gradient(#CCC, black);
  height: 100px;
}

.fillbar {
  background-image: linear-gradient(#888, black);
}

#popup-menu {
  z-index: 9;
  width: 100%;
  position: absolute;
  overflow: hidden;
  bottom: 0;
}

.btn {
  display: inline-block;
  text-align: center;
  font-size: 9pt;
  padding: 3px;
  height: 10px;
  min-width: 10px;
  line-height: 10px;
  border: thin solid brown;
  border-top: none;
  border-left: none;
  border-radius: 3px;
  color: black;
  background-color: wheat;
}

#main-hints > div > .btn {
  padding: 8px;
  font-size: 16pt;
  border: thin solid #666;
  color: black;
  background-color: #CCC;
}

#main-hints {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: sans-serif;
  margin: 0 4px;
  line-height: 18px;
  font-size: 16pt;
  color: black;
}

.station-row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

#grid-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  width: 240px;
  overflow: hidden;
}

#grid-screen > .fillbar {
  height: 23px;
}

#trip-screen {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 240px;
}

.hint {
  font-size: 12pt;
  padding: 8px 0;
  white-space: nowrap;
}

#minibar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 0.3px;
  background-color: black;
  color: white;
  font-size: 10.5pt;
  padding: 0 5px;
  line-height: 20pt;
  overflow: hidden;
  height: 27px;
}

#schedule {
  padding-bottom: 3px;
}

#ampm { font-size: 9pt; }

#message { margin-bottom: 2px; }
.message-arriving { color: var(--msg-arriving-color); }
.message-departing { color: var(--msg-departing-color); }
.message-departed { color: var(--msg-departed-color); }
div > .selection-none { border-color: black; }
div > .selection-departing { border-color: var(--msg-departing-color); }
div > .selection-arriving { border-color: var(--msg-arriving-color); }
div > .selection-swapped { border-color: var(--msg-departed-color); }
div > .selection-departed { border-color: var(--msg-selected-color);  }

.selection {
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 1px;
}

#blurb-hero {
  font-size: 18pt;
}

.trip-card {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

#trip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 4px;
  align-items: baseline;
  line-height: 25px;
}

.train-hero {
  font-size: 14pt;
  padding-right: 6px;
}

.time-hero {
  font-size: 20pt;
}

.meridiem-hero {
  font-size: 14pt;
}

.train-number {
  flex: 1;
  text-align: left;
  font-size: 12pt;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: -2px;
}

.train-time {
  flex: 3;
  text-align: right;
  font-size: 20pt;
  padding-right: 3px;
  margin-top: -5px;
  margin-bottom: -3px;
}

.meridiem {
  font-size: 11pt;
  padding-left: 1px;
}

#listing {
  scrollbar-width: thin;
  scrollbar-color: #666 black;
  white-space: nowrap;
  font-size: 11pt;
  padding-left: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 228px;
}

#listing::-webkit-scrollbar { width: 6px; }
#listing::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px black; }
#listing::-webkit-scrollbar-thumb { -webkit-box-shadow: inset 0 0 6px #666; }

#content.full-screen > #minibar { display: flex; }
#content.part-screen > #minibar { display: none; }
#content.full-screen > #hero-screen > #hero-filler { display: flex; }
#content.part-screen > #hero-screen > #hero-filler { display: none; }
#content.full-screen > #grid-screen > .fillbar { display: none; }
#content.part-screen > #grid-screen > #schedule > #trip4 { display: none; }
#content.part-screen > #grid-screen > #schedule > #trip5 { display: none; }
#content.part-screen > #menu-screen { height: 228px; }
#content.full-screen > #menu-screen { height: 263px; }
#content.part-screen > #grid-screen { height: 228px; }
#content.full-screen > #grid-screen { height: 263px; }
#content.part-screen > #trip-screen > #trip-filler {  display: none; }
#content.full-screen > #trip-screen > #trip-filler {  display: flex; }

#trip-info {
  padding-top: 3px;
  line-height: 25px;
}

#description {
  font-size: 12pt;
}

.station-stop {
  display: flex;
  line-height: 11px;
}

.station-spacer {
  font-size: 14pt;
  padding: 0 10px;
}

.station-dot {
  font-size: 20pt;
}

.target {
  color: white;
}

#mini-keypad {
  padding-top: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
}

#mini-keypad > .keycol > div {
  line-height: 20px;
  font-size: 12pt;
  width: 40px;
  height: 20px;
}

#mini-keypad > .keycol > div#kl { height: 15px; line-height: 13px; }
#mini-keypad > .keycol > div#kr { height: 15px; line-height: 13px; }
#mini-keypad > .keycol > div#kc { height: 15px; line-height: 13px; }
#mini-keypad > .keycol > div#kh { height: 15px; line-height: 13px; }
#mini-keypad > .keycol > div#ko { height: 34px; line-height: 34px; }


#softkey-menu {
  display: flex;
  justify-content: space-between;
  font-family: 'Noto Sans', sans-serif;
  line-height: 30px;
  background-color: black;
  color: white;
  width: 240px;
  height: 30px;
  font-size: 11pt;
  overflow: hidden;
}

#softkey-menu > div {
  padding: 0 6px;
  width: 80px;
}

#softkey-left {
  text-align: left;
}

#softkey-right {
  text-align: right;
}

#softkey-center {
  text-align: center;
  font-weight: bold;
  font-size: 11.5pt;
}

#keypad {
  background-color: var(--app-background-color);
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  width: 240px;
}

.keycol {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 3px;
}

.keycol > div.default {
  background-color: var(--btn-default-color);
}

.keycol > div.selected {
  background-color: var(--btn-selected-color);
}

.keycol > div {
  border-radius: 8px;
  color: white;
  border: thin solid purple;
  border-top: none;
  border-left: none;
  background-color: black;
  margin-bottom: 3px;
  font-size: 14pt;
  width: 78px;
  height: 30px;
}

.keycol > button {
  border-radius: 8px;
  color: white;
  background-color: black;
  margin-bottom: 3px;
  font-size: 14pt;
  width: 78px;
  height: 30px;
}

.keycol > .ok {
  height: 33px;
}

.keycol > .arrow {
  font-size: 8pt;
  height: 22px;
}

.keycol > .answer {
  color: green;
}

.keycol > .hangup {
  color: red;
}

.keycol > .phone {
  height: 40px;
  font-size: 12pt;
}

.rounded {
  border: 3px solid white;
  margin: auto;
  width: 40px;
  height: 13px;
}

.upper-left {
  border-radius: 8px 0 0 0;
  border-right: none;
  border-bottom: none;
}

.upper-right {
  border-radius: 0 8px 0 0;
  border-left: none;
  border-bottom: none;
}

.lower-right {
  border-radius: 0 0 8px 0;
  border-left: none;
  border-top: none;
  border-color: red;
}

.lower-left {
  border-radius: 0 0 0 8px;
  border-right: none;
  border-top: none;
  border-color: green;
}

/* @group Blink */
.blink {
  animation: blink 1.5s linear infinite;
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
/* @end */
