/*z
BLACK = 0x000000;
WHITE = 0xFFFFFF;
GREEN = 0x00FF00;
RED = 0xFF0000;
MAROON = 0x880000;
FOREST = 0x008800;
SALMON = 0xFF8888;
YELLOW = 0xFFFF00;
LIME = 0x88FF88;
CYAN = 0x00AAFF;
BLUE = 0x000088;
GR86 = 0xDDDDDD;
GR80 = 0xCCCCCC;
GR40 = 0x666666;
GR26 = 0x444444;
GR20 = 0x333333;
DKBL = 0x000055;
*/

body {
  display: flex;
  justify-content: center;
  background-color: gray;
  color: white;
  margin: 0px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15pt;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  margin: auto 0;
  width: 240px;
  height: 228px; /* or 290px */
}

#details {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: auto 0;
  width: 240px;
  min-height: 320px
}

.btn {
  border: thin solid cyan;
  display: inline-block;
  width: 1.5em;
  margin-right: 3pt;
}

#hints{
  justify-content: center;
  font-size: 10pt;
  color: cyan;
  padding: 1px;
}

#title {
  justify-content: space-between;
  font-size: 12pt;
  padding: 0 3px;
}

#schedule {
  width: 100%;
}

#message {
  margin-bottom: 2px;
}

.message-arriving {
  color: #0F0;
}

.message-departing {
  color: #FF0;
}

.message-departed {
  color: #0AF;
}

.selection-none {
  border: 2px solid #000;
}

.selection-swapped {
  border: 2px solid #0AF;
}

.selection-departing {
  border: 2px solid #FF0;
}

.selection-departed {
  border: 2px solid #666;
}

.selection-arriving {
  border: 2px solid #0F0;
}

.selection {
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 1px;
}

.trip-card {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.train-number {
  flex: 1;
  text-align: left;
  font-size: 12pt;
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: -2px;
}

.train-time {
  flex: 3;
  text-align: right;
  font-size: 20pt;
  padding-right: 3px;
  margin-top: -5px;
  margin-bottom: -3px;
}

.meridiem {
  font-size: 11pt;
  padding-left: 1px;
}

#listing {
  white-space: nowrap;
  font-size: 12pt;
  padding: 50px 3px 35px 10px;
}

#header {
  position: fixed;
  background-color: black;
  width: 240px;
  padding-top: 2px;
  padding-bottom: 8px;
  top: 0;
}

#description {
  font-size: 12pt;
}

.station-stop {
  display: flex;
  line-height: 17px;
}

.station-time {
}

.station-name {
}

.station-spacer {
  font-size: 22pt;
  padding: 0 6px;
}

.station-dot {
  font-size: 30pt;
}

.target {
  color: white;
}

.filler {
  color: black;
}

/* @group Blink */
.blink {
  animation: blink 1.5s linear infinite;
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
/* @end */
